body{
  background-color: #2b2b2b;
}


.new-post{
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.p{
  color: white;
}

.h3{
  color: white;
}

.new-post header,
.post header {
    margin-bottom: 20px;
    background-color: #232323;
}

.posts .post {
    padding-left: 10px;
    border-left: 3px solid #6b91ff;
    margin-bottom:  30px;
    background-color: #232323;
}

.posts .post .inf {
    color: #aaa;
    font-style: italic;
    background-color: #232323;
}

.card{
  background-color: #232323;
}

.fade.in {
    opacity: 1;
  }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .modal-backdrop.in {
    opacity: 0.5;
}

a:link {
  color: #b0b0b0;
}

a:visited {
  color: #b0b0b0;
}
.caja {
  position: relative;
}
.cubo {
  height: 40px !important;
  width: 40px !important;
  position: absolute;
  right: 20px;
}
